<section>
  <div class="blog-post">
    <div class="tags">
      <span>Love</span>
      <span>&#x2022;</span>
      <span>Marriage</span>
    </div>
      
    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et expedita explicabo mollitia ducimus tenetur cum, facilis nisi earum nemo aliquam excepturi, voluptatum soluta molestias</h3>
    <p class="post"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ratione vero nam numquam temporibus corrupti quia ab reiciendis eaque minima, accusantium laudantium itaque fuga illo blanditiis rerum amet dolorum architecto!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, vero! Corrupti suscipit cupiditate tempore minus? Iusto sunt repellendus incidunt, sequi obcaecati porro consequuntur accusamus beatae aliquam consequatur quos possimus nulla.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptas, molestias eos corrupti enim aperiam ut veniam, repellat voluptate temporibus odit? Maxime culpa vero dicta harum consequuntur sequi quasi modi?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum minima autem natus obcaecati deserunt magni nobis iste nisi veritatis voluptas! Sunt, ratione non laudantium ullam officiis fugiat ducimus at assumenda!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut saepe at aspernatur est, enim eveniet cupiditate corrupti maxime asperiores dicta dolores vitae veniam iusto consequuntur minus debitis. Natus, doloribus commodi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit est culpa consequatur optio harum accusamus perspiciatis deleniti sequi labore fugit eum, eaque quis odio minima! Debitis totam sequi corrupti. Repellendus.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt consectetur praesentium ullam dolor! Impedit asperiores adipisci magni, ducimus expedita sed a, sunt sapiente totam vero ratione cumque maiores. Quibusdam, adipisci!
    </p>
    <div class="post-reactions">
      <div class="comment-count">
        <span>23</span>
        <i class="fa-regular fa-comment"></i>
      </div>

      <div class="likes-count">
        <span>32</span>
        <i class="fa-regular fa-heart"></i>
      </div>
      <div>
        <i class="fa-solid fa-share"></i>
      </div>
    </div>
  </div>

  <div class="comments">
    <h4>Comments</h4>

    <div class="add-comment">
      <textarea></textarea>
      <button>Add Comment</button>
    </div>

    <div class="comment">
      <div class="user-img">
      </div>

      <div class="comment-text">
        <p class="username">bolaji</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas pariatur praesentium quaerat sed, molestias, accusamus eveniet voluptatibus quidem cupiditate error ipsum odit quo animi, obcaecati fugiat minus minima? Corporis, itaque?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eos, repellendus voluptatibus, tenetur quibusdam autem blanditiis enim ratione illum, tempore impedit doloribus. Quidem explicabo doloribus dicta mollitia adipisci aliquam magnam.
        </p>
      </div>
    </div>


    <div class="comment">
      <div class="user-img">
      </div>

      <div class="comment-text">
        <p class="username">bolaji</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas pariatur praesentium quaerat sed, molestias, accusamus eveniet voluptatibus quidem cupiditate error ipsum odit quo animi, obcaecati fugiat minus minima? Corporis, itaque?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eos, repellendus voluptatibus, tenetur quibusdam autem blanditiis enim ratione illum, tempore impedit doloribus. Quidem explicabo doloribus dicta mollitia adipisci aliquam magnam.
        </p>
      </div>
    </div>


    <div class="comment">
      <div class="user-img">
      </div>

      <div class="comment-text">
        <p class="username">bolaji</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas pariatur praesentium quaerat sed, molestias, accusamus eveniet voluptatibus quidem cupiditate error ipsum odit quo animi, obcaecati fugiat minus minima? Corporis, itaque?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eos, repellendus voluptatibus, tenetur quibusdam autem blanditiis enim ratione illum, tempore impedit doloribus. Quidem explicabo doloribus dicta mollitia adipisci aliquam magnam.
        </p>
      </div>
    </div>


    <div class="comment">
      <div class="user-img">
      </div>

      <div class="comment-text">
        <p class="username">bolaji</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas pariatur praesentium quaerat sed, molestias, accusamus eveniet voluptatibus quidem cupiditate error ipsum odit quo animi, obcaecati fugiat minus minima? Corporis, itaque?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eos, repellendus voluptatibus, tenetur quibusdam autem blanditiis enim ratione illum, tempore impedit doloribus. Quidem explicabo doloribus dicta mollitia adipisci aliquam magnam.
        </p>
      </div>
    </div>
    
  </div>
</section>
