<section>
  <h3 class="heading">Create Account</h3>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form">

    <div class="form-input">
      <label for="username">Username </label>
      <input class="border" type="text" name="username" id="username" formControlName="username"/>

      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)"
      class="alert-danger">
        <p *ngIf="username?.errors?.['required']">Username is required.</p>
      </div>

    </div>
   

    <div class="form-input">
      <label for="email">Email </label>
      <input class="border" type="text" name="email" id="email" formControlName="email"/>

      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      class="alert-danger">
        <p *ngIf="email?.errors?.['required']">Email is required.</p>
      </div>
  
    </div>


    <div class="form-input">
      <label for="password">Password </label>
      <input class="border" type="text" name="password" id="password" formControlName="password"/>
      
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      class="alert-danger">
      <p *ngIf="password?.errors?.['required']">Password is required.</p>
    </div>

    </div>

    <div class="form-input">
      <label for="confirmPassword">Confirm Password </label>
      <input class="border" type="text" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword"/>

      <p *ngIf="confirmPassword?.touched && signUpForm?.errors?.['passwordMismatch']" class="alert-danger">
        Passwords do not match
      </p>
    </div>

    <button class="submit-btn">Create Account</button>

  </form>
</section>
