.top-margin {
  margin: 1rem 0;
}

.display-flex {
  display: flex;
  align-items: center;
}

.logo {
  width: 8rem;
}

.header-section {
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text-main);
  width: 90%;
  position: fixed;
  top: 0;
  background-color: var(--bg-header);
  padding: 0 5%;
  border-bottom: 1.5px solid var(--border-header);
  // box-shadow: 0px 0.5px 4px var(--border-header);
}

.sign-up-btn, .log-in-btn {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  color: var(--text-main);
  letter-spacing: 0.05rem;
  transition: all ease-in 0.5s;
  &:hover {
    color: var(--link-active);
  }
}

.sign-up-btn {
  margin-right: 1rem;
}

@media(max-width: 992px) {
  .nav {
    font-size: 0.8rem;
  }
  .sign-up-btn, .log-in-btn{
    font-size: 0.8rem;
  }
}

@media(max-width: 768px) {
  // .header-section {
  //   padding-bottom: 3%;
  // }
  .logo {
    width: 6rem;
  }
  .nav {
    display: none;
  }
  .sign-up-btn, .log-in-btn{
    font-size: 0.75rem;
  }
}
