<section class="header-section display-flex">

  <div class="top-margin display-flex">
    <img src="assets/images/logo_light.png" class="logo"/>
  </div>

  <div class="top-margin nav">
    <app-nav></app-nav>
  </div>
 

  <div class="action-section display-flex">
    <div class="auth-actions top-margin">
      <button class="profile-btn" (click)="openModal()">PROFILE</button>
      <button class="sign-up-btn" routerLink="/signup">SIGN UP</button>
      <button class="log-in-btn" routerLink="/login">LOG IN</button>
      <div class="modal-container" [ngClass]="display ? 'modal-open' : ''">
        <app-profile [closeModal]="closeModal"></app-profile>
      </div>
    </div>
  </div>
  
</section>
