.top-margin {
  margin-top: 1.5rem;
}

.display-flex {
  display: flex;
  align-items: center;
}

.logo {
  width: 8rem;
}

.header-section {
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text-main);
}


// .action-section {
//   flex-wrap: wrap;
// }

// .auth-actions {
//   margin-right: 1rem;
// }

.search-box {
  margin-right: 1rem;
  font-size: 0.9rem;
  input {
    background-color: transparent;
    padding: 0.5rem 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid var(--border);
    outline: none;
    width: 15rem;
    font-size: 0.9rem;
    color: var(--text-main);
  }
}

.sign-up-btn, .log-in-btn {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  color: var(--text-main);
  letter-spacing: 0.05rem;
  &:hover {
    color: var(--link-active);
  }
}

.sign-up-btn {
  margin-right: 1rem;
}

@media(max-width: 992px) {
  .nav {
    font-size: 0.8rem;
  }
  .sign-up-btn, .log-in-btn{
    font-size: 0.8rem;
  }
}

@media(max-width: 768px) {
  .logo {
    width: 6rem;
  }
  .nav {
    display: none;
  }
  .sign-up-btn, .log-in-btn{
    font-size: 0.75rem;
  }
}
