<section>
  <h3 class="heading">Login to your account</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-input">
      <label for="email">Email </label>
      <input class="border" type="text" name="email" id="email" formControlName="email"/>

      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
      class="alert-danger">
        <p *ngIf="email?.errors?.['required']">Email is required.</p>
      </div>
  
    </div>

    <div class="form-input">
      <label for="password">Password </label>
      <input class="border" type="text" name="password" id="password" formControlName="password"/>
      
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      class="alert-danger">
        <p *ngIf="password?.errors?.['required']">Password is required.</p>
      </div>
    </div>

    <button class="submit-btn">Login</button>
  </form>
</section>
