.page-content {
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 0 2rem;
  margin-top: 4rem;
}

.mobile-menu {
  display: none;
  background-color: var(--bg-main);
}

@media(max-width: 768px) {
  .page-content {
    height: 80vh;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    // margin: 0.5rem;
    font-size: 0.6rem;
  }
}