<section>
  <div class="search-box">
    <input placeholder="search tags"/>
  </div>

  <div class="add-new">
    <span>New Blog Post</span>
    <i class="fa-regular fa-pen-to-square"></i>
  </div>

  <div class="blog-post">
    <div class="tags">
      <span>Love</span>
      <span>&#x2022;</span>
      <span>Marriage</span>
    </div>
    
    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et expedita explicabo mollitia ducimus tenetur cum, facilis nisi earum nemo aliquam excepturi, voluptatum soluta molestias</h3>
    <p class="post"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ratione vero nam numquam temporibus corrupti quia ab reiciendis eaque minima, accusantium laudantium itaque fuga illo blanditiis rerum amet dolorum architecto!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, vero! Corrupti suscipit cupiditate tempore minus? Iusto sunt repellendus incidunt, sequi obcaecati porro consequuntur accusamus beatae aliquam consequatur quos possimus nulla.
      <span class="expand"><a>...read more</a></span>
    </p>
    <div class="post-reactions">
      <div class="comment-count">
        <span>23</span>
        <i class="fa-regular fa-comment"></i>
      </div>

      <div class="likes-count">
        <span>32</span>
        <i class="fa-regular fa-heart"></i>
      </div>
      <div>
        <i class="fa-solid fa-share"></i>
      </div>
    </div>
  </div>

  <div class="blog-post">
    <div class="tags">
      <span>Love</span>
      <span>&#x2022;</span>
      <span>Marriage</span>
    </div>
    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et expedita explicabo mollitia ducimus tenetur cum, facilis nisi earum nemo aliquam excepturi, voluptatum soluta molestias</h3>
    <p class="post"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ratione vero nam numquam temporibus corrupti quia ab reiciendis eaque minima, accusantium laudantium itaque fuga illo blanditiis rerum amet dolorum architecto!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, vero! Corrupti suscipit cupiditate tempore minus? Iusto sunt repellendus incidunt, sequi obcaecati porro consequuntur accusamus beatae aliquam consequatur quos possimus nulla.
      <span class="expand"><a>...read more</a></span>
    </p>
    <div class="post-reactions">
      <div class="comment-count">
        <span>23</span>
        <i class="fa-regular fa-comment"></i>
      </div>

      <div class="likes-count">
        <span>32</span>
        <i class="fa-regular fa-heart"></i>
      </div>
      <div>
        <i class="fa-solid fa-share"></i>
      </div>
    </div>
  </div>

  <div class="blog-post">
    <div class="tags">
      <span>Love</span>
      <span>&#x2022;</span>
      <span>Marriage</span>
    </div>
    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et expedita explicabo mollitia ducimus tenetur cum, facilis nisi earum nemo aliquam excepturi, voluptatum soluta molestias</h3>
    <p class="post"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ratione vero nam numquam temporibus corrupti quia ab reiciendis eaque minima, accusantium laudantium itaque fuga illo blanditiis rerum amet dolorum architecto!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, vero! Corrupti suscipit cupiditate tempore minus? Iusto sunt repellendus incidunt, sequi obcaecati porro consequuntur accusamus beatae aliquam consequatur quos possimus nulla.
      <span class="expand"><a>...read more</a></span>
    </p>
    <div class="post-reactions">
      <div class="comment-count">
        <span>23</span>
        <i class="fa-regular fa-comment"></i>
      </div>

      <div class="likes-count">
        <span>32</span>
        <i class="fa-regular fa-heart"></i>
      </div>
      <div>
        <i class="fa-solid fa-share"></i>
      </div>
    </div>
  </div>

  <div class="blog-post">
    <div class="tags">
      <span>Love</span>
      <span>&#x2022;</span>
      <span>Marriage</span>
    </div>
    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et expedita explicabo mollitia ducimus tenetur cum, facilis nisi earum nemo aliquam excepturi, voluptatum soluta molestias</h3>
    <p class="post"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ratione vero nam numquam temporibus corrupti quia ab reiciendis eaque minima, accusantium laudantium itaque fuga illo blanditiis rerum amet dolorum architecto!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, vero! Corrupti suscipit cupiditate tempore minus? Iusto sunt repellendus incidunt, sequi obcaecati porro consequuntur accusamus beatae aliquam consequatur quos possimus nulla.
      <span class="expand"><a>...read more</a></span>
    </p>
    <div class="post-reactions">
      <div class="comment-count">
        <span>23</span>
        <i class="fa-regular fa-comment"></i>
      </div>

      <div class="likes-count">
        <span>32</span>
        <i class="fa-regular fa-heart"></i>
      </div>
      <div>
        <i class="fa-solid fa-share"></i>
      </div>
    </div>
  </div>

  <div class="blog-post">
    <div class="tags">
      <span>Love</span>
      <span>&#x2022;</span>
      <span>Marriage</span>
    </div>
    <h3 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et expedita explicabo mollitia ducimus tenetur cum, facilis nisi earum nemo aliquam excepturi, voluptatum soluta molestias</h3>
    <p class="post"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ratione vero nam numquam temporibus corrupti quia ab reiciendis eaque minima, accusantium laudantium itaque fuga illo blanditiis rerum amet dolorum architecto!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, vero! Corrupti suscipit cupiditate tempore minus? Iusto sunt repellendus incidunt, sequi obcaecati porro consequuntur accusamus beatae aliquam consequatur quos possimus nulla.
      <span class="expand"><a>...read more</a></span>
    </p>
    <div class="post-reactions">
      <div class="comment-count">
        <span>23</span>
        <i class="fa-regular fa-comment"></i>
      </div>

      <div class="likes-count">
        <span>32</span>
        <i class="fa-regular fa-heart"></i>
      </div>
      <div>
        <i class="fa-solid fa-share"></i>
      </div>
    </div>
  </div>
</section>

